
*.idx
*.rosy
*.obj
*.txt
*.json
*.stash
*.o
lib/libigl/include/igl/viewer/.DS_Store
lib/libigl/include/igl/opengl2/.DS_Store
lib/libigl/include/igl/opengl/.DS_Store
lib/libigl/include/igl/mosek/.DS_Store
lib/libigl/include/igl/copyleft/.DS_Store
lib/libigl/include/igl/.DS_Store
lib/libigl/include/.DS_Store
lib/libigl/external/nanogui/ext/eigen/unsupported/test/.DS_Store
lib/libigl/external/nanogui/ext/eigen/unsupported/.DS_Store
lib/libigl/external/nanogui/ext/eigen/test/.DS_Store
lib/libigl/external/nanogui/ext/eigen/Eigen/src/.DS_Store
lib/libigl/external/nanogui/ext/eigen/Eigen/.DS_Store
lib/libigl/external/nanogui/ext/eigen/doc/.DS_Store
lib/libigl/external/nanogui/ext/eigen/demos/.DS_Store
lib/libigl/external/nanogui/ext/eigen/debug/.DS_Store
lib/libigl/external/nanogui/ext/eigen/cmake/.DS_Store
lib/libigl/external/nanogui/ext/eigen/blas/.DS_Store
lib/libigl/external/nanogui/ext/eigen/bench/.DS_Store
lib/libigl/external/nanogui/ext/eigen/.DS_Store
lib/libigl/external/nanogui/ext/.DS_Store
lib/libigl/external/nanogui/.DS_Store
lib/libigl/external/.DS_Store
lib/libigl/.DS_Store
lib/CoMISo/gmm/include/.DS_Store
lib/CoMISo/gmm/.DS_Store
lib/CoMISo/Examples/.DS_Store
lib/CoMISo/build/Examples/.DS_Store
lib/CoMISo/build/CMakeFiles/.DS_Store
lib/CoMISo/build/Build/share/.DS_Store
lib/CoMISo/build/Build/lib/.DS_Store
lib/CoMISo/build/Build/.DS_Store
lib/CoMISo/build/.DS_Store
lib/CoMISo/.DS_Store
lib/.DS_Store
StressDrivenMesh.dSYM/Contents/Resources/DWARF/StressDrivenMesh
StressDrivenMesh.dSYM/Contents/Info.plist
StressDrivenMesh
moc_predefs.h
moc_glwidget.cpp
Makefile
libCoMISo.dylib
libAntTweakBar.dylib
test_data/.DS_Store
test_data/Francesco/.DS_Store
test_data/Francesco/AllDataProcessed.zip
test_data/Francesco/arch60/.DS_Store
test_data/Francesco/beam100/.DS_Store
test_data/Francesco/calla/.DS_Store
test_data/Francesco/curvedVault/.DS_Store
test_data/Francesco/dolphin/.DS_Store
test_data/Francesco/duck_cut/.DS_Store
test_data/Francesco/duck_cut/duck_cut.obj.mtl
test_data/Francesco/manta2/.DS_Store
test_data/Francesco/manta2/manta_tim.zip
test_data/Francesco/sculpt/.DS_Store
test_data/Francesco/triVault/.DS_Store
test_data/Francesco/triVault/TriVault.zip
test_data/Francesco/twist/.DS_Store
test_data/Francesco/wave2/.DS_Store
test_data/rbfsphere/BENfix.blk
test_data/rbfsphere/mesh.ply
test_data/rbfsphere/SFfix.blk
test_data/Rust/BENfix.blk
test_data/Rust/mesh.ply
test_data/Rust/SFfix.blk
StressDrivenMesh.pro.user
.DS_Store
